.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(94, 91, 90);
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-size: 100%;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Map {
  width: 300px !important;
  height: 300px !important;
  position: relative !important;
}
.map {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.root {
  width: 100%;
}

.MuiAppBar-colorPrimary {
  color: black !important;
  background-color: rgb(115, 255, 0) !important;
}
.loginContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 180px;
  margin-top: 100px;
  margin-left: 400px;
  background-color: greenyellow;
  text-decoration: yellow;
  border-style: solid;
}

.login {
  background-color: rgba(11, 114, 19, 0.288);
  color: rgba(20, 73, 75, 0.397);
}
.title {
  text-align: center;
}
.report {
  color: yellow;
  background-color: gray;
  border: 4px solid greenyellow;
  border-style: double;
  border-radius: 4px;

  
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: rgb(60, 207, 15) !important;
}
.makeStyles-avatar-126 {
  margin: 8px;
  background-color: greenyellow !important;
}

form {
  width: 100%;
}

.loginBox {
  width: 500px;
  height: 700px;

  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}

.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}
.posts {
  border-radius: 4px;
  border: 2px solid greenyellow;
  width: 1200px;
  height: 107px;
}
.postbutton {
  color: yellow;
  background-color: grey;
  border-color: greenyellow;
}
.root1 {
  border-style: double;
  border-radius: 4px;
  border: 4px solid greenyellow;
  height: 799px;
  display: flex;
  overflow-wrap: break-word;
  background-color: rgb(228, 228, 240);
}

.titlePost {
  height: 720;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 20px;
 
}
.geolocationbox {
  border-style: double;
  border-radius: 4px;
  border: 4px solid greenyellow;
  height: 600px;
  width: 400px;
}
.geotext {
  text-decoration: underline;
  color: greenyellow;
}
.geotext2 {
  text-decoration: underline;
  color: greenyellow;
}
.lng {
  color: red;
}
.lat {
  color: red;
}
.newPost {
  justify-content: right;
}
.about {
  width: auto;
  margin-left: 850px;
}
.safemap {
  position: absolute;
  top: 145px;
  right: 16px;
  font-size: 18px;
}
.bodysafe {
  background-color: grey;
  height: 1000px;
  width: auto;
}
.h1safe {
  color: gray;
  background-color: rgb(28, 31, 24);
}
.commentspostcolor {
  color: red;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.commentspostcolor li {
  list-style-type: none;
}
.commets1 {
  color: rgb(0, 0, 0);
}
.unsafeMap {
  display: flex;
  flex-direction: row;
}
.backunsafe {
  background-color: rgb(94, 91, 90);
  background-size: 100%;
  min-height: 130vh;
}
.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: rgb(96, 96, 170);
  box-sizing: content-box;
  animation-name: MuiInputBase-keyframes-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
}
.commentcolor {
  color: blue;
  text-decoration: underline;
  text-decoration-color: red;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.commentboarder {
  border: 4px solid darkorange;
  border-style: double;
  border-radius: 100px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-left: 10px;
}
.div1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;

}
.deletpost {
  height: 20px;
  background-color: red;
  border-style: double;
  border-color: rgb(115, 255, 0);
}
.geoborder {
  background-color: whitesmoke;
  border: 4px solid darkorange;
  border-style: double;
  border-radius: 4px;
}
.textabout {
  width: 600px;
  margin-left: 600px;
  margin-top: 200px;
  font-size: 7mm;
}
.postsafe1 {
  background-color: rgb(94, 91, 90);
  margin-left: 380px;


}
.textget {
  border-style: double;
  background-color: grey;
}
.lat {
  text-underline-position: below;
}
.iconsupdown{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}
.no{
  padding: 0px;
  margin: 0;
}
.MuiTypography-colorInherit {
  color: azure !;
}
.geotitle{
  background-color: whitesmoke;
  border: 4px solid darkorange;
  border-style: double;
  border-radius: 4px;
}
.infogeotext{
  background-color: whitesmoke;
  border: 4px solid darkorange;
  border-style: double;
  border-radius: 4px;
}